<h1>Out of Eden</h1>
<img class="img-responsive" <%= link_to image_tag("http://outofedenwalk.nationalgeographic.com/files/2014/05/Salopek-Jerusalem2.gif", alt: "horn"), :class => 'img'%>
<p>
Journalist Paul Salopek is on a mission that will take him years, to retrace the human migration. Starting in Ethiopia and eventually finishing in Tierra del Fuego, Salotek will rediscover the first human adventure while observing how far we’ve come and how far we still have to go.
</p>
<a href="http://www.outofedenwalk.com/"> Out of Eden Blog </a>
<a href="http://outofedenwalk.nationalgeographic.com/"> National Geographic Out of Eden Site </a> <a href="http://ngm.nationalgeographic.com/2013/12/out-of-eden/stanmeyer-photography#/01- salopek-leading-camels-670f.jpg"> Out of Eden Photography
</a>